.wrapper
   span.marquee Create your free Development server on the fly and start coding!


.row
  .col-xs-2
    ul.pricing-table
      li.title Ubuntu
      li.price $0.00
      li.description Ubuntu Server 14.04, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server

  .col-xs-2
    ul.pricing-table
      li.title Amazon Linux
      li.price $0.00
      li.description Amazon Linux, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server
  .col-xs-2
    ul.pricing-table
      li.title Red Hat
      li.price $0.00
      li.description Red Hat Enterprise Linux 7.1, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server

.row
  .col-xs-2
    ul.pricing-table
      li.title Windows Server
      li.price $0.00
      li.description Microsoft Windows Server 2012 Base
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server

  .col-xs-2
    ul.pricing-table
      li.title SUSE Linux
      li.price $0.00
      li.description Linux Enterprise Server, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server
  .col-xs-2
    ul.pricing-table
      li.title Windows Server w/ SQL server & IIS
      li.price $0.00
      li.description Windows Server 2008 R2, w/ SQL Server and IIS
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button.btn.btn(href='#'): i.fa.fa-power-off  Create Server
