h3 Create your free Development server on the fly and start coding!


.row
  .col-xs-4
    ul.pricing-table
      li.title Ubuntu
      li.price $0.00
      li.description Ubuntu Server 14.04, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button(href='#'): i.fa.fa-power-off  Create Server

  .col-xs-4
    ul.pricing-table
      li.title Amazon Linux
      li.price $0.00
      li.description Amazon Linux, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button(href='#'): i.fa.fa-power-off  Create Server
  .col-xs-4
    ul.pricing-table
      li.title Red Hat
      li.price $0.00
      li.description Red Hat Enterprise Linux 7.1, SSD Volume Type
      li.bullet-item 1 Database
      li.bullet-item 5GB Storage
      li.bullet-item 20 Users
      li.cta-button
        a.button(href='#'): i.fa.fa-power-off  Create Server
