
.row(ng-init='init()')
  .col-xs-4
    h3.spins Hang-on your server is being prepared...
    h4.prov: i.fa.fa-laptop  Your Server id: {{createdata.id}}
    h4.prov: i.fa.fa-clock-o  Launched at:
    h4.prov: i.fa.fa-refresh  Status:

     



    
    
 
