.spinner
  .spinner-container.container1
    .circle1
    .circle2
    .circle3
    .circle4
  .spinner-container.container2
    .circle1
    .circle2
    .circle3
    .circle4
  .spinner-container.container3
    .circle1
    .circle2
    .circle3
    .circle4
.row
  .col-xs-4
    h3.spins Hang-on your server is being prepared...  
    h4.prov: i.fa.fa-laptop  Your Server id: {{createdata.id}}
    h4.prov: i.fa.fa-clock-o  Launched at:{{createdata.launchTime}}
    h4.prov.status: i.fa.fa-refresh  Status: HELLO{{createdata.status}}

     



    
    
 
